# OWN CONFIGURATION
VITE_APP_BACKEND=http://localhost:3001

# AUTH CONFIGURATION
VITE_AUTH_SERVICE_BACKEND=http://localhost:3005

# RUNNER CONFIGURATION
VITE_APP_RUNNER_BACKEND=http://localhost:5002
RUNNER_KEY=R2D2C3PO

# CLOUDFLARE TURNSTILE CONFIGURATION
VITE_CLOUDFLARE_SITE_KEY=1x00000000000000000000AA